# Finding an Event in a Bundesliga match
An event is classified as either a **play**, a **throw-in**, or a **challenge**.
  - **Play**: a player's attempt to switch ball control to another member of his team. (Pass or Cross and Open play, Corner kick, or Free kick)
  - **Throw-In**: game restarted after the ball went out of play over the sideline following the touch of the opposite team
  - **Challenge**: player action during which two players of opposing teams are attempting to gain control of the ball. (Opponent rounded, ball action carried out, fouled, opponent dispossessed, challenge during release, possesion retained)

This is the first model in the pipeline and will attempt to classify the time of the event and what event it was.

In [3]:
import pandas as pd

import fastai.data.all as fdata
import fastai.vision as vision

In [11]:
data_path = Path('data/')
train_df = pd.read_csv(data_path/'train.csv')
train_df.head()

     video_id        time      event           event_attributes
0  1606b0e6_0  200.265822      start                        NaN
1  1606b0e6_0  201.150000  challenge     ['ball_action_forced']
2  1606b0e6_0  202.765822        end                        NaN
3  1606b0e6_0  210.124111      start                        NaN
4  1606b0e6_0  210.870000  challenge  ['opponent_dispossessed']

In [10]:
train_df = train_df[(train_df['event'] == 'challenge') | (train_df['event'] == 'throwin') | (train_df['event'] == 'play')]
train_df.groupby(['event']).count()

           video_id  time  event_attributes
event
challenge       624   624               624
play           3586  3586              3586
throwin         172   172               172

Since the training data is so skewed, my theory is that there should be three different models, one binary classifier for each one.